// Global Game Style Variables
// Font Variables
$body-font: 'Barlow Condensed', sans-serif;
$title-font: 'Bangla MN', serif;

// Game Colours
$brown: #cca267;
$red: #dd5b5b;
$grey: #666666;

